
html,
body {
    background-color: #fff;
    font-size: 0.9375rem;
    color: #797979;
    width: 100%;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    width:100%;
}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fefefe;
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}

p {
    margin: 0 0 15px;
}
a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.clear {
    clear: both;
}

img {
    max-width: 100%;
}

h1,h2,h3 
{
    text-align: center;
    font-weight: 100;
    margin: 0;
}
h4,h5 
{
    font-weight: 300;
    margin: 0;
    line-height: 2rem;
}
h1 
{
    text-align: center;
    font-size: 2rem;
    line-height: 5.5rem;
    color:#fff;
}
h2 
{
    text-align:center;
    font-size:1.875rem;
    line-height: 3rem;
    font-weight: 200;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #fff

}
h3 
{
    font-size:0.875rem;
    line-height: 2.5rem;    
    margin-bottom:20px;
    text-transform: uppercase;
    color: #fff
}
h4
{
    font-size:1.875rem;
    line-height: 3rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #000
}
p 
{
    line-height: 1.375rem;
    font-size: 0.875rem;
}
p:last-child {
    margin-bottom: 0px;
}
/*.home-wrap h1,*/
.home-wrap h2,
.home-wrap h3,
.home-wrap h4,
.home-wrap h5,
.home-wrap p {
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text {
    color: #333333;
}
.colorstext {
    color: #5e9a28;
}
.coloricon i {
    color: #5e9a28;
}
.colorsbg {
    background: #5e9a28;
    color: #ffffff;
}

.lightbg {
    background-color: #f9f9f9;
}

.outofsectiontext{
    margin-top: 40px;
}

/*
Section
*/
.sections {
    padding-top:85px;
    padding-bottom: 105px;
    overflow: hidden;
}
.sections.footer {
    padding-bottom: 80px;
}
section .subtitle h5 {
    margin-top: 10px;
    font-size: 1.3rem;
}

section .title-half h2 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 300;
    margin-bottom: 1.4rem;
}
section .subtitle-half h5 {
    font-weight: 100;
    font-size: 17px;
}
ul{
    margin:0;
    padding:0;
    list-style:none;
}

.heading {
    margin-bottom: 4rem;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 950px;
}

.all_overlay{
    background: #222c61;
}

.no-padding {
    padding: 0 !important;
    margin:0 !important;
}
.fluid-blocks-col {
    padding: 70px 40px 0 80px;
}
.fluid-blocks-col-right {
    padding: 70px 80px 0 40px;
}
/*
Separator
*/
.separator {
    height: 3px;
    width: 127px;
    margin: 25px auto;
    background: #f38181;
}
.whiseparator {
    height: 10px;
    width: 127px;
    margin: 20px auto;
    background: url(../images/whiseparator.png) no-repeat;
}
.separator2 {
    height: 2px;
    width: 200px;
    margin:20px 0px;
    background: #AB987A;
}
.separator3 {
    height: 2px;
    width: 30px;
    margin:20px auto;
    background: #5e9a28;
}
.separator4 {
    height: 2px;
    width: 30px;
    margin:20px 0px;
    background: #f38181;
}

/*
Extra height css
*/
h1 span {
    color: #5e9a28;
    font-weight: 400;
}


.main_menu_bg{
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent;
    margin: 15px auto;
    border:none;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#f5c239;
}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #f5c239;
    padding-bottom: 20px;
    border-bottom: 2px solid #f5c239;
    background: #222C61;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    background-color:#222c61;
}
.navbar-brand>img {
    max-width: 80%;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{
    background-color:transparent;
    color:#f5c239;
}

.dropdown-menu {
    min-width: 160px;
    padding: 0px;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-clip: padding-box; 
    border: 0px solid #ccc; 
    border: 0px solid rgba(0,0,0,.15); 
    border-radius: 0px; 
    box-shadow: 0 0px 0px 
}

.dropdown-menu .navbar-form {
    margin-right: -30px;
}

/*heading title all area*/
.head_title{
    margin-bottom:90px;
}
.head_title h2{
    color:#333333;
}
.head_title p{
    font-size:1.5rem;
}

/*home section*/
.home{
    background: url(../images/homebg.jpg) no-repeat 100%;
    background-size: cover;
    background-position:center;
}

.home .main_home{
    padding-top: 250px;
}

.home .main_home h1{
    color: #fff;
    font-size:8.375rem;
    line-height: 11rem;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    max-width: 70%;
    margin:0 auto;
    text-align: center;
}
/*Is this for using on a phone?*/
/*device section css*/
.device{
    background: url(../images/divicebg.jpg) no-repeat 100% 100%;
    background-size:cover;
}

.device .main_device_area{
    margin-top:80px;
}
.device .main_device_area .main_device_content{}
.device .main_device_area .main_device_content .single_device{
    position: relative;
}
.device .main_device_area .main_device_content .single_device_two{
    position: absolute;
    right: 80px;
    bottom: -70px;
    z-index: 99;
}

/*photography*/
.about{}
.about .main_about_area{}
.about .main_about_content{}
.about .main_about_content .single_about{
    position: relative;  
    transition: all 0.6s;
    margin-bottom: 20px;
}
.about .main_about_content .single_about:hover{
    box-shadow: 6px 6px 9px 1px #95e1d3;  
}
.about .main_about_content .single_about .single_about_img img{
    width:100%;
    height: 100%;
}
.about .main_about_content .single_about .single_about_img_overlay{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height: 100%;
    color:#fff;
    padding-top: 25%;
    opacity: 0;
    transition: all 0.6s;
}
.about .main_about_content .single_about:hover .single_about_img_overlay{
    opacity: 1; 
}
.about .main_about_content .single_about .single_about_img_overlay a{
    color:#fff;
}
.about .main_about_content .single_about .single_about_img_overlay a:hover{
    color:#fce38a
}
.about .main_about_content .single_about .single_about_img_overlay i{
    font-size:1.5rem;
}

/*footer widget*/
.flowus a i{
    color:darkred;
    font-size:3rem;
    padding: 5px;
    
}

/*footer section*/
.footer{
    background: #f8f8f8;
}

.main_footer{
    border-top:1px solid #ddd;
}
.copyright_text p{
    color:#aaa79e;
    font-size:0.8125rem;
    line-height: 25px;
    padding:40px;
    max-width: 100%;
}
.copyright_text p i{
    padding:0px 10px;
    color:#ff0000;
}
.copyright_text p a{
    padding:0px 10px;
    color:#3bd3ba;
}

/* scrollup */

.scrollup{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    opacity: .3;
    position: fixed;
    bottom: 20px;
    right: 25px;
    color: #fff;
    cursor: pointer;
    background-color: #000;
    z-index: 1000;
    transition: opacity .5s, background-color .5s;
    -moz-transition: opacity .5s, background-color .5s;
    -webkit-transition: opacity .5s, background-color .5s;
}

.scrollup:hover {
    background: #95e1d3;
    opacity: 1;
}

.scrollup i {
    font-size: 13px;
    position: absolute;
    opacity: 1;
    color: #fff;
    left: 50%;
    top: 50%;
    margin-top: -7px;
    margin-left: -6px;
    text-decoration: none;

}








